*, *::after, *::before {
  box-sizing: border-box;
}

.container {
  
}

#board {
  width: 500px;
  height: 500px;
}

.woodenBoard {
  position: relative;
}
.woodenBoard::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://images.chesscomfiles.com/chess-themes/boards/walnut/150.png');
  background-repeat: no-repeat;
  border: 2px solid #404040;
  background-size: 100%;
  user-select: none;
} 
.square-55d63 img {
  position: relative;
  z-index: 1000;
}