.emptyChat {
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translateX(-50%);
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #fff, $alpha: 0.1);
  color: #efefef;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__icons {
    margin: 10px 12% 20px;
    cursor: pointer;

    &:hover {
      filter: brightness(130%);

    }
  }
}

.floated__chat .emptyChat {
  font-size: 1em;
  flex-direction: row;
  justify-content: space-around;
  color: #fff;
  background-color: rgba($color: #222, $alpha: 0.2);
  height: 100%;
}
.floated__chat .emptyChat h4 {
  display: none;
}
.floated__chat .emptyChat__icons {
  margin: 0;
}
