@import '../../assets/styles/style';

.icon {
  opacity: 0.8;
  color: $brightWhite;
}

.menu-btn {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  cursor: pointer;
  outline: none;
  z-index: 1000;
  opacity: 0.9;
  @include phone {
    display: none;
  }

  &__burger {
    width: 50px;
    height: 6px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: transform 0.5s ease-in-out, background-color 0.5s,
      box-shadow 0.5s;

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 50px;
      height: 6px;
      background-color: #fff;
      border-radius: 2px;
      box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
      transition: transform 0.5s ease-in-out;
    }
    &::before {
      transform: translateY(-16px);
    }
    &::after {
      transform: translateY(16px);
    }
  }

  &.open &__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  &.open &__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  &.open &__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
}

.navbar {
  width: 100%;
  height: 100vh;
  padding-top: 20px;
  background-color: $navbarColor;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateX(-100%);
  transition: transform 1s ease;
  position: fixed;
  left: 0;
  top: 0;
  font-size: 18px;
  z-index: 900;

  &__userinfo {
    color: #fff;
    display: flex;
    flex-direction: column;
    font-size: .9em;
    &__info {
      text-align: center;
    }
  }

  &__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @include phone {
      align-items: flex-start;
    }
  }
  &__menu .menu__logo {
    display: none;
    width: 140px;
    margin-bottom: 10px;
  }

  &__menu__item {
    cursor: pointer;
    display: flex;
    font-size: 1.3em;
    color: $brightWhite;
    justify-content: center;
    align-items: center;
    height: 46px;
    font-weight: bold;
    gap: 5px;
  }
  &__menu__item--small {
    display: flex;
    font-size: 1em;
    width: 100%;
    cursor: pointer;
    justify-content: flex-start;
    align-items: center;
    height: 30px;
    gap: 3px;
    padding-left: 5px;
    & a {
      color: $darkWhite;
    }
    &:hover {
      background: rgba(0, 0, 0, 0.25);
    }
  }

  @include phone {
    width: 160px;
    transform: translateX(0);
    padding-top: 0px;
    background-color: $navbarExpanded;
    display: grid;
    grid-template-rows: 4fr 1.5fr 1.5fr;
    position: fixed;

    &__menu .menu__logo {
      display: initial;
      margin: 0 auto;
      width: 130px;
      margin-bottom: 40px;
    }
    &__menu__item {
      font-size: 1.1em;
      width: 100%;
      justify-content: flex-start;
      margin: 3px 0;
      padding: 0 5px;
    }

    &__menu__item:hover {
      background: rgba(0, 0, 0, 0.25);
    }
  }
  @include lDesktop {
    width: 180px;
  }
}

.navbar__menu--bottom {
  display: none;

  @include phone {
    display: initial;
  }
}

.buttons {
  margin: 10px;

  &__sign {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
}

.buttons__item {
  cursor: pointer;
  background-color: unset;
  white-space: nowrap;
  font-size: 1em;
  letter-spacing: .5px;
  font-weight: normal;
  @extend %rectangle__button;
  @extend %rectangle__button__transform;
}

.menu__socials {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  margin-right: 12px;
  margin-top: 6px;
  font-size: 1.3em;

  @include phone {
    display: none;
  }
}

.showNavbar {
  transform: translateX(0);
}
