@import '../../../assets/styles/style.scss';

.game {
  flex: 1 1 auto;
  margin: 80px 0 30px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @include phone {
    flex: 0 1 auto;
  }

  .board {
    width: calc(100% - 23px);
    height: 100%;
    margin: 0 10px;
    @include phone {
      width: unset;
      min-width: 402px;
    }
    @include tablet {
      min-width: 506px;
    }
    @include desktop {
      min-width: 602px;
    }
    @include lDesktop {
      min-width: 650px;
    }
  }
  .board-b72b1 {
    width: 100% !important;
    height: 100% !important;
    border: unset;
  }

  .woodenBoard {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .woodenBoard::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url('../../../assets/img/boardBackground.png') no-repeat;
    background-size: cover;
    user-select: none;
  }

  .transparent {
    background-color: transparent;
  }

  .square-55d63 img {
    cursor: grab;
    position: relative;
    z-index: 100;
    touch-action: none;
  }

  .square {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      display: inline-block;
      width: 10px;
      height: 10px;
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 50%;
      z-index: 600;
    }
  }

  .userInformations {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 11px;
    color: $brightWhite;
    margin: 10px 0;
    .timer {
      padding: 10px 10px 10px 50px;
      opacity: 0.65;
      font-weight: bold;
      background-color: #26211b;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      color: #fff;
      min-width: 100px;
      @include tablet {
        padding: 10px 10px 10px 60px;
        font-size: 1.2em;
        min-width: 120px;
      }
      @include desktop {
        padding: 12px 12px 12px 70px;
      }
    }
  }

  .links {
    width: 100%;
    padding: 0 10px 10px;
    position: relative;
    &__header {
      font-size: 0.9em;
      color: rgba(255, 255, 255, 0.8);
    }
    &__link a {
      font-size: 0.9em;
      color: rgba(255, 255, 255, 0.6);
    }
    @include tablet {
      max-width: 506px;
    }
    @include desktop {
      max-width: 602px;
    }
    @include lDesktop {
      max-width: 650px;
    }
  }
}

.closeButton {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.2em;
  font-weight: bold;
  color: rgba($color: #fff, $alpha: 0.8);
}

//set dragging piece always visibility
.piece-417db {
  z-index: 500;
}

//change default color in board notation
.notation-322f9 {
  z-index: 500;
}

.row-5277c .square-55d63 .numeric-fc462 {
  color: #835f42;
}

.row-5277c:nth-child(even) .square-55d63 .numeric-fc462 {
  color: #c0a684;
}

.row-5277c .square-55d63 .alpha-d2270 {
  color: #c0a684;
}

.row-5277c .square-55d63:nth-child(even) .alpha-d2270 {
  color: #835f42;
}
