@import '../../assets/styles/style.scss';
.register {
  width: 90%;
  max-width: 350px;
  background: rgb(255, 255, 255);
  border-radius: 20px 20px 0 0;

  &__header {
    text-align: center;
    padding: 35px 25px 10px;
    font-size: 1.4em;
    font-weight: bold;
    color: #1f1f1f;
    & span {
      color: #1f1f1f80;
    }
  }
  &__form {
    width: 100%;
    padding: 20px 30px 30px;
    display: flex;
    flex-direction: column;

  }
}

.small-dash {
  font-size: 0.7em;
  margin: 0 1.5px;
}

.italic {
  font-style: italic;
}
