@import '../../assets/styles/style';

.container {
  background: url('../../img/backgroundGameImg.jpg') center center/cover
    no-repeat;
}

.navbar {
  width: 140px;
  height: 100vh;
  background-color: $navbarExpanded;
}
