@import '../../assets/styles/style';


.container {
  background: url('../../img/backgroundGameImg.jpg') center center/cover
    no-repeat;
  width: 100%;
  height: 100vh;
  overflow: auto;
}

.menu-btn {
  position: fixed;
  top: 5px;
  left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;

  &__burger {
    width: 50px;
    height: 6px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: transform 0.5s ease-in-out, background-color 0.5s, box-shadow 0.5s;

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 50px;
      height: 6px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
      transition: transform 0.5s ease-in-out;
    }
    &::before {
      transform: translateY(-16px);
    }
    &::after {
      transform: translateY(16px);
    }
  }

  &.open &__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  &.open &__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  &.open &__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
}

.navbar {
  margin-top: 90px;
  width: 100%;
  height: calc(100vh - 90px);
  background-color: $navbarColor;
}
