@import '../../assets/styles/style';

.container {
  background: url('../../img/backgroundGameImg.jpg') center center/cover
    no-repeat;
  width: 100%;
  height: 100vh;
  overflow: auto;
}

.menu-btn {
  position: fixed;
  top: 5px;
  left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  outline: none;

  &__burger {
    width: 50px;
    height: 6px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: transform 0.5s ease-in-out, background-color 0.5s,
      box-shadow 0.5s;

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 50px;
      height: 6px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
      transition: transform 0.5s ease-in-out;
    }
    &::before {
      transform: translateY(-16px);
    }
    &::after {
      transform: translateY(16px);
    }
  }

  &.open &__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  &.open &__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  &.open &__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
}

.navbar {
  width: 100%;
  height: 100vh;
  padding-top: 20px;
  background-color: $navbarColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateX(-100%);
  transition: transform 1s ease;

  &__menu img {
    width: 140px;
  }

  &__menu__item {
    display: flex;
    font-size: 1.5em;
    color: $brightWhite;
    justify-content: center;
    align-items: center;
    height: 46px;
    font-weight: bold;
    gap: 5px;
  }
  &__menu__item--small {
    display: flex;
    font-size: 1.2em;
    width: 200px;

    justify-content: flex-start;
    align-items: center;
    height: 30px;
    gap: 3px;
    & a {
      color: $darkWhite;
    }
  }
}

.navbar__menu--bottom {
  display: none;
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.buttons {
  margin: 10px;
}

.buttons__item {
  margin-top: 8px;
  position: relative;

  padding: 15px 30px;
  border: 2px solid #fff;
  text-transform: uppercase;
  font-weight: bold;
  width: 150px;
  &::before {
    content: '';
    position: absolute;
    top: 6px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - 12px);
    background: $navbarColor;
    transition: transform 0.5s 0.5s ease-in-out;
    transform: scaleY(1);
  }
  &:hover::before {
    transform: scaleY(0);
  }

  &::after {
    content: '';
    position: absolute;
    left: 6px;
    top: -2px;
    height: calc(100% + 4px);
    width: calc(100% - 12px);
    background: $navbarColor;
    transition: transform 0.5s ease-in-out;
    transform: scaleX(1);
  }
  &:hover::after {
    transform: scaleX(0);
  }
  & span {
    position: relative;
    z-index: 3;
  }
}

.flex-c-c {
  display: flex;
  justify-content: center;
  align-items: center;
}
