
.icon-cog:before { content: '\e800'; } /* '' */
.icon-resize-horizontal:before { content: '\e801'; } /* '' */
.icon-dot-3:before { content: '\e802'; } /* '' */
.icon-puzzle:before { content: '\e803'; } /* '' */
.icon-home:before { content: '\e804'; } /* '' */
.icon-gamepad:before { content: '\f11b'; } /* '' */
.icon-help:before { content: '\f128'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-google:before { content: '\f1a0'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */