@import '../../assets/styles/style.scss';

.homePage__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
  @include phone {
    padding-left: 160px;
  }
  // @include sDesktop {
  //   justify-content: flex-start;
  // }
}

.board-b72b1 {
  border: unset;
}
