@import './assets/fontello/css/fontello.css';
@import './assets/styles/style.scss';

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  background: url('./assets/img/backgroundGameImg.jpg') center center/cover
    no-repeat;
  width: 100%;
  min-height: 100vh;
  overflow: auto;
  position: relative;
}

a {
  color: $brightWhite;
  text-decoration: none;
}

//flex center center column
.flex-c-c {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
//flex center center
.flex-c {
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  outline: none;
}
