@import './fontello/css/fontello.css';
@import './assets/styles/style.scss';

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


a[href] {
  color: $brightWhite;
  text-decoration: none;
}