$black: #000;
$white: #fff;
$darkWhite: rgba(255, 255, 255, 0.55);
$brightWhite: rgba(255, 255, 255, 0.75);

$navbarColor: rgba(47, 47, 47, 100);
$scoreBoardRow: rgba(255, 255, 255, 0.04);
$navbarExpanded: rgba(255, 255, 255, 0.16);

