%configBoard__options__btn {
  width: calc(70% - 10px);
  height: 40px;
  background: none;
  border: 3px solid rgba(255, 255, 255, 0.7);
  color: rgba(191, 191, 191, 0.7);
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 16px;
  position: relative;
  outline: none;
  margin: 5px 8px;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 4px;
    background: #27292c;
    transform: skewX(50deg);
    transition: 0.4s linear;
  }

  &::before {
    top: -4px;
    left: 10%;
  }
  &::after {
    bottom: -4px;
    right: 10%;
  }
  &:hover::before {
    left: 80%;
  }
  &:hover::after {
    right: 80%;
  }
  @include rwd(360) {
    width: 100px;
  }
}

%rectangle__button {
  margin-top: 8px;
  position: relative;
  padding: 15px 30px;
  border: 2px solid #fff;
  text-transform: uppercase;
  font-weight: bold;
  width: 150px;
  border-radius: 2px;
  transition: 0.4s color ease-in-out, 0.4s border ease-in-out;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    top: 6px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - 12px);
    background: $navbarColor;
    transition: transform 0.5s 0.5s ease-in-out;
    transform: scaleY(1);
    z-index: 22;
  }
  &:hover::before {
    transform: scaleY(0);
  }

  &::after {
    content: '';
    position: absolute;
    left: 6px;
    top: -2px;
    height: calc(100% + 4px);
    width: calc(100% - 12px);
    background: $navbarColor;
    transition: transform 0.5s ease-in-out;
    transform: scaleX(1);
  }
  &:hover::after {
    transform: scaleX(0);
  }
  & span {
    position: relative;
    z-index: 100;
    color: white;
  }
}

%rectangle__button__transform {
  @include phone {
    padding: 10px;
    width: 120px;
    margin-top: 12px;
    border-radius: 8px;
    &:hover {
      border: 2px solid rgba(255, 255, 255, 0.563);
    }
    &:hover span {
      color: rgba(255, 255, 255, 0.563);
    }
    &::after,
    &::before {
      display: none;
    }
  }
}

%wrapper {
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin-bottom: 40px;
  @include phone {
    padding-left: 160px;
  }
}
